<div class = "row">

  <div class="panel panel-warning col-md-6 col-md-offset-3">

      <div class="panel-heading text-center">
        <h3>Play list</h3>
      </div>

      <div class="panel-body text-center">
        <% @artist.songs.each do |song| %>
            <!-- <%= song.name %>
            <%= link_to song.url %>
            <%= link_to '<i class="glyphicon glyphicon-trash color_red"></i>'.html_safe, artist_song_path(@artist, song), method: :delete, data: { confirm: "Are you sure?" } %>

         -->

    <ul class="list-group">
        <li class="list-group-item clearfix" id='<%= song.id %>'>
            <div class="song-title">  <%= song.name %></div>
                     <%= link_to song.url %>
                    
            <div class="song-delete"> <%= link_to '<i class="glyphicon glyphicon-trash color_red"></i>'.html_safe, artist_song_path(@artist, song),
            method: :delete, data: { confirm: "Are you sure?" } %></div>
        </li>

    </ul>

      <% end %>
      </div>

      <div>
        <%= render 'form' %>
      </div>



    </div>

  </div>
